<%= form_for(dropdown_edit) do |f| %>
  <% if dropdown_edit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dropdown_edit.errors.count, "error") %> prohibited this dropdown_edit from being saved:</h2>

      <ul>
      <% dropdown_edit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dropdowns_id %>
    <%= f.text_field :dropdowns_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :zoomlvl %>
    <%= f.text_field :zoomlvl %>
  </div>

  <div class="field">
    <%= f.label :approved %>
    <%= f.text_field :approved %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
