<p id="notice"><%= notice %></p>

<p>
  <strong>Dropdowns:</strong>
  <%= @dropdown_edit.dropdowns %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dropdown_edit.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @dropdown_edit.content %>
</p>

<p>
  <strong>Zoomlvl:</strong>
  <%= @dropdown_edit.zoomlvl %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @dropdown_edit.approved %>
</p>

<%= link_to 'Edit', edit_dropdown_edit_path(@dropdown_edit) %> |
<%= link_to 'Back', dropdown_edits_path %>
